@model Psinder.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <h1 id="mainHeader">PSINDER</h1>
</head>

<a id="backToList" asp-action="Index">&#129044 Wróć do ogłoszeń</a>

<div class="row">
    <div class="post" style="padding:0">
        <div id="headerDetails">
            <div class="form-group-center">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="form-group-center">
                @Html.DisplayFor(model => model.Title)
            </div>          
        </div>

        <div id="descriptionDeails">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div>
            <img src="@Url.Action("GetImage", "Posts", new {Model.Id} )" />
        </div>

        <div id="propDetails">
            @Html.DisplayNameFor(model => model.Breed):
            @Html.DisplayFor(model => model.Breed)
        </div>
        <div id="propDetails">
            @Html.DisplayNameFor(model => model.Age):
            @Html.DisplayFor(model => model.Age)
        </div>
        <div id="propDetails">
            @Html.DisplayNameFor(model => model.Size):
            @Html.DisplayFor(model => model.Size)
        </div>

        <div class="form-group-left">Skontaktuj się w sprawie ogłoszenia</div>


        @Html.DisplayNameFor(model => model.ContactPhone);
        <div id="descriptionDeails">
            @Html.DisplayFor(model => model.ContactPhone);
        </div>

        @Html.DisplayNameFor(model => model.ContactEmail);
        <div id="descriptionDeails">
            @Html.DisplayFor(model => model.ContactEmail);
        </div>

    </div>
 </div>





@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
</div>*@
