@model PagedList.IPagedList<Psinder.Models.PostDTO>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div {
        color: white
    }</style>
<style>
    td {
        color: white
    }</style>
<style>
    tr {
        color: white
    }</style>
<h1>Index</h1>


<p>
    <a id="createNew" asp-action="Create">
        <h3>
            +Create New 
        </h3>
    </a>
</p>

<div id="allPost">
    @using (Html.BeginForm())
    {
        <p>
            Znajdź po tytule @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <h6 style="text-align:center;vertical-align:middle;margin-bottom: 0px;height: 35px;">Wszystkie ogłoszenia</h6>
    @Html.ActionLink("Sortuj po ID", "Index", new { sortOrder = ViewBag.IndexSortParm })

</div>
<div class="flex-container">
@foreach (var item in Model) {

    <a class="card" asp-action="Details" asp-route-id="@item.Id">


        <img id="imagePost"  src="~/images/licensed-image.jpg">
         
        <div id="headerPost">@Html.DisplayFor(modelItem => item.Name) </div>

        <div id="destPost">@Html.DisplayFor(modelItem => item.Title)</div>

    </a>

@*        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>*@
        }
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@*
do analizy czemu nie działa    
@Html.PagedListPager(Model,
    page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
*@

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="Posts?Page=@(Model.PageNumber-1)">Poprzedni</a></li>
        <li class="page-item"><a class="page-link" href="Posts?Page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="Posts?Page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="Posts?Page=3">3</a></li>
        <li class="page-item"><a class="page-link" href="Posts?Page=@(Model.PageNumber+1)">Następny</a></li>
    </ul>
</nav>
                