@model IEnumerable<Psinder.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style >div{color: white}</style>
<style >td{color: white}</style>
<style >tr{color: white}</style>
<div class="text-center">
    <h1 class="display-4">PSINDER</h1>
</div>

<p>
    <a id="createNew" asp-action="Create">
        <h3>
            +Create New 
        </h3>
    </a>
</p>
<div id="allPost">
    <h6 style="text-align:center;vertical-align:middle;margin-bottom: 0px;height: 35px;">Wszystkie ogłoszenia</h6>
</div>
<div class="flex-container">
@foreach (var item in Model) {

    <a class="card" asp-action="Details" asp-route-id="@item.Id">


        <img id="imagePost"  src="~/images/licensed-image.jpg">
         
        <div id="headerPost">@Html.DisplayFor(modelItem => item.Name) </div>

        <div id="destPost">@Html.DisplayFor(modelItem => item.Title)</div>

    </a>

@*        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>*@
        }
</div>

