@model PagedList.IPagedList<Psinder.Models.PostDTO>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<head style="position:relative">
    <h1 id="mainHeader">PSINDER</h1>
</head>

<form enctype="multipart/form-data"></form>
<a asp-action="Create" asp-controller="Posts" id="createNew" style="position: absolute;top:180px;left:75%">+ Dodaj ogłoszenie</a>

<div id="ShowAll">Wszystkie ogłoszenia</div>

<div id="allPost">
    @using (Html.BeginForm())
    {
<<<<<<< HEAD
        <p style="float: right"> @Html.TextBox("SearchString")
        <input type="submit" value="Wyszukaj" /></p>
=======
        <p style="float: right"> Wyszukaj @Html.TextBox("SearchString")
        <input type="submit" value="Search" /></p>
>>>>>>> master
        
    }
    <div id="sortPosts">
    @Html.ActionLink("Sortuj po ID", "Index", new { sortOrder = ViewBag.IndexSortParm })
    </div>
</div>

<div class="flex-container">
    @foreach (var item in Model)
    {
        <div class="dog-card">
            <img src="@Url.Action("GetImage", "Posts", new {item.Id} )" />
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>@Html.DisplayFor(modelItem => item.Title)</p>
            <a asp-action="Details" asp-route-id="@item.Id">
                <div id="PoznajMnie"; position: absolute; bottom: 20pf;>Poznaj mnie</div>
            </a>
        </div>
    }
</div>


@*
TODO: Tak powinno być ale to nie działa nie wiadomo czemu,
obecnie jest zrobione paging tak że można wyjechać poza ilość stron
<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>*@

<nav aria-label="Page navigation example">
<<<<<<< HEAD
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="Posts?Page=@(Model.PageNumber-1)">Poprzednia strona</a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="Posts?Page=@i">@i</a>
            </li>
        }
        <li class="page-item"><a class="page-link" href="Posts?Page=@(Model.PageNumber+1)">Następna strona</a></li>
    </ul>
=======
    <div style = "backgroundcolor:black">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="Posts?Page=@(Model.PageNumber-1)">Previous</a></li>

            
            @for (int i = 1; i <= Model.PageCount; i++)
            {
            
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <div id="number_background">
                    <a class="page-link" href="Posts?Page=@i">@i</a>
                    </div>
                </li>
            
            }
            
            <li class="page-item"><a class="page-link" href="Posts?Page=@(Model.PageNumber+1)">Next</a></li>
        </ul>
    </div>
>>>>>>> master
</nav>